<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="andr.mentorapp">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".AdminActivity">
            <intent-filter>
                <action android:name="andr.mentorapp2.SIGN_IN_ADMIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".TutorActivity">
            <intent-filter>
                <action android:name="andr.mentorapp2.SIGN_IN_TUTOR"/>
            </intent-filter>
        </activity>
        <activity android:name=".StudentActivity">
            <intent-filter>
                <action android:name="andr.mentorapp2.SIGN_IN_STUDENT"/>
            </intent-filter>
        </activity>
        <activity android:name=".NewStudentActivity">
            <intent-filter>
                <action android:name="andr.mentorapp2.CREATENEWPROFILE"/>
            </intent-filter>
        </activity>
        <activity android:name=".TutorScheduleActivity">
            <intent-filter>
                <action android:name="andr.mentorapp2.VIEW_TUTOR_SCHEDULE"/>
            </intent-filter>
        </activity>
        <activity android:name=".TutorListActivity">
            <intent-filter>
                <action android:name="andr.mentorapp2.VIEW_TUTOR_LIST"/>
            </intent-filter>
        </activity>
        <activity android:name=".AdminModifyUsersList">
            <intent-filter>
                <action android:name="andr.mentorapp2.VIEW_ADMIN_LIST"/>
            </intent-filter>
        </activity>
        <activity android:name=".AddUserActivity">
            <intent-filter>
                <action android:name="andr.mentorapp2.ADMIN_NEW_USER"/>
            </intent-filter>
        </activity>
        <activity android:name=".EditUserActivity">
            <intent-filter>
                <action android:name="andr.mentorapp2.ADMIN_EDIT_USER"/>
            </intent-filter>
        </activity>
        <activity android:name=".EditCourseActivity">
            <intent-filter>
                <action android:name="andr.mentorapp2.ADMIN_EDIT_COURSE_ACTIVITY"/>
            </intent-filter>
        </activity>
        <activity android:name=".AddCourseActivity">
            <intent-filter>
                <action android:name="andr.mentorapp2.ADMIN_ADD_COURSE_ACTIVITY"/>
            </intent-filter>
        </activity>
        <activity android:name=".AddTutorScheduleActivity">
            <intent-filter>
                <action android:name="andr.mentorapp2.ADMIN_NEW_SCHEDULE"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
